[Desktop Entry]
Type=Application
Name=Yahr Calculator
Comment=Yahr calculator
Exec=yahr-calculator
TryExec=yahr-calculator
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
StartupNotify=false
Keywords=calculator;calc;math;
