[Desktop Entry]
Type=Application
Name=Yahr Keybinds
Comment=View and customize Hyprland keybinds
Exec=/home/bryan/.local/bin/yahr-keybinds
TryExec=/home/bryan/.local/bin/yahr-keybinds
Icon=input-keyboard
Terminal=false
Categories=Settings;Utility;
StartupNotify=false
Keywords=keyboard;shortcuts;keybinds;hotkeys;hyprland;
